# Port that will listent the API (./index.js)
API_PORT=3001

# Prisma config (./prisma.config.ts && ./config/prisma.js)
DATABASE_URL="mysql://root:root@db:3306/portfolio"

ADAPTER_HOST=""
ADAPTER_PORT=3306
ADAPTER_USER="root"
ADAPTER_PASSWORD="root"
ADAPTER_DATABASE="portfolio"

# Allowed CORS origin
FRONTEND_URL="http://localhost:5173"

# Nodemailer config (./config/nodemailer.js)
TRANSPORTER_SERVICE="gmail"
TRANSPORTER_USER="example@example.com"
TRANSPORTER_APP_PASS="xxxx xxxx xxxx xxxx"