@font-face {
  font-family: Changa-One;
  src: url("../../assets/fonts/Changa_One/ChangaOne-Regular.ttf");
}

@font-face {
  font-family: Google-Sans-Flex;
  src: url("../../assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf");
}

h1 {
  font-family: Changa-One, sans-serif;
}

.about-container {
  /* min-height: calc(100vh - 390px); */
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Google-Sans-Flex, sans-serif;
  color: #839bcb !important;
}

.about-p {
    width: 100%;
}

.about-placeholder {
  height: 200px !important;
}

.random-facts-container {
  min-height: calc(100vh - 800px);
}