@font-face {
  font-family: Changa-One;
  src: url("../../assets/fonts/Changa_One/ChangaOne-Regular.ttf");
}

h1 {
  font-family: Changa-One, sans-serif;
}

.carousel-control-prev, .carousel-control-next {
  transition: all 0.2s ease;
}

.carousel-control-prev:hover, carousel-control-next:hover {
  color: #6085ce !important;
}