@font-face {
  font-family: Google-Sans-Flex;
  src: url("../../assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf");
}


h2 {
  font-family: Google-Sans-Flex, sans-serif;
}

.skills-list {
    list-style-type: none;
}

.skill-image {
    width: 200px;
    height: 200px;
}

.skill-image {
    width: 200px;
    height: 200px;
}

.skills-list-item {
    text-align: center !important;
}

.content-text {
  font-family: Google-Sans-Flex, sans-serif;
}