.skills-list {
    list-style-type: none;
}

.skill-image {
    width: 200px;
    height: 200px;
}

.skill-image {
    width: 200px;
    height: 200px;
}

.skills-list-item {
    text-align: center !important;
}